* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 14px;
  @media (min-width: 576px) { 
 
    padding:0 16px;
  }
  @media (min-width: 992px) { 
 
    padding:0 30px;
  }
}




.text_black {
  color: black;
}



