.partner_section{
    padding-top: 20px;
    padding-bottom: 80px;
    .container{
        max-width: 1400px;
        padding: 0 0;
    .card {
       
        padding: 18px 18px;
        margin-top:32px;
        border-radius: 32px;
        @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 32px;
       
        }
        @media (min-width: 768px) {
            display: flex;
            gap: 32px;
            align-items: center;
            padding: 32px 32px;
            justify-content: center;
        }

        .partner_cards {

            padding: 16px;
            padding-top: 32px;
            position: relative;
            border-radius: 32px;
            height: 100%;
            text-align: center;
          background: #eeeeee;

            &:hover {
                display: inline-block;
                transform: rotate(-2deg) scale(1.03);

            }

            @media (min-width: 768px) {
                width: 33.33%;
                padding: 32px;
            }

            

            .image {
                img {
                  margin: auto;
                   width: 140px;
                 padding-bottom: 32px;
                    object-fit: cover;
                    border-radius: 16px;
               
                }
            }
           

            .partner_text {
                padding: 16px 16px 0;
                h2 {
                    text-align: center;
                    color: #121212;
                    font-size: 26px;
                    font-weight:400;
                    margin-bottom: 14px;

                    @media (min-width: 768px) {
                        font-size: 36px;
                       
                    }
                }

                p {
                    text-align: center;
                 color: #696969;
                    margin-bottom: 32px;
                    line-height: 1.2;
                    font-size: 14px;
                    
                    @media (min-width: 768px) {
                        font-size: 18px;
                       
                    }
                }

              

              

                    .partner_btn {
                        margin-left: -10px;
                        margin-right: -10px;
                        text-align: center;

                        a {
                            text-decoration: none;
                            color:#000000;
                            font-weight: 500;
                            font-size: 20px;

                        }
                    }
            }
        }
    }
}
}